{% extends "layout.html" %}
{% block page_title %}Your courses{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/courses">St Martin’s College teacher training courses</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Course template</span>
    {{ data['course-template'] or 'Secondary PGCE courses' }}
  </h1>

  <!-- <ul class="tabs">
    <li class="active">
      <a href="/course">Edit course</a>
    </li>
    <li>
      <a href="#">Applications (10)</a>
    </li>
  </ul> -->

  <div class="grid-row">
    <div class="column-two-thirds">
      <ol class="course-parts course-parts--large">
        <li>
          <ul class="course-parts-items">
            <li class="course-parts-item">
              <h3 class="course-part-task">
                Template title and description
              </h3>
              <a class="course-part-task-action" href="/course/template-title-description">Change</a>
              <dl class="course-part-tasks">
                <div>
                  <dt class="course-part-label">
                    Title
                  </dt>
                  <dd class="course-part-value">
                    {{ data['course-template'] or 'Secondary PGCE courses' }}
                  </dd>
                </div>
                <div>
                  <dt class="course-part-label">
                    Description
                  </dt>
                  <dd class="course-part-value">
                    {{ data['course-description'] or 'All secondary courses starting September 2018' }}
                  </dd>
                </div>
              </dl>
            </li>
            <li class="course-parts-item">
              <h3 class="course-part-task">
                Subjects
              </h3>
              <a class="course-part-task-action" href="/course/requirements">Add</a>
              <table class="subject-table" style="margin-top: 45px">
                <thead>
                  <tr>
                    <th>Subject</th>
                    <th>Vacancies</th>
                    <th>Application code</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mathematics</td>
                    <td>Yes</td>
                    <td>G1X1</td>
                    <td><a href="#">Edit</a></td>
                    <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td>History</td>
                    <td>Yes</td>
                    <td>2FFY</td>
                    <td><a href="#">Edit</a></td>
                    <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td>English</td>
                    <td>Yes</td>
                    <td>3636</td>
                    <td><a href="#">Edit</a></td>
                    <td><a href="#">View</a></td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li class="course-parts-item">
              <h3 class="course-part-task">
                Course information
              </h3>
              <a class="course-part-task-action" href="/course/course-information">Edit</a>
              <dl class="course-part-tasks">
                <div>
                  <dt class="course-part-label">
                    Study type
                  </dt>
                  <dd class="course-part-value course-part-value--empty">
                    This field is empty
                  </dd>
                </div>
                <div>
                  <dt class="course-part-label">
                    Start date
                  </dt>
                  <dd class="course-part-value course-part-value--empty">
                    This field is empty
                  </dd>
                </div>
                <div>
                  <dt class="course-part-label">
                    Duration
                  </dt>
                  <dd class="course-part-value course-part-value--empty">
                    This field is empty
                  </dd>
                </div>
                <div>
                  <dt class="course-part-label">
                    Applications open
                  </dt>
                  <dd class="course-part-value course-part-value--empty">
                    This field is empty
                  </dd>
                </div>
              </dl>
            </li>
            <li class="course-parts-item">
              <h3 class="course-part-task">
                Course description
              </h3>
              <a class="course-part-task-action" href="/course/course-information">Edit</a>
              <dl class="course-part-tasks">
                <div>
                  <dt class="course-part-label">
                    About this course
                  </dt>
                  <dd class="course-part-value course-part-value--empty">
                    This field is empty
                  </dd>
                </div>
                <div>
                  <dt class="course-part-label">
                    Policy on placement schools
                  </dt>
                  <dd class="course-part-value course-part-value--empty">
                    This field is empty
                  </dd>
                </div>
                <div>
                  <dt class="course-part-label">
                    Access for disabled people
                  </dt>
                  <dd class="course-part-value course-part-value--empty">
                    This field is empty
                  </dd>
                </div>
                <div>
                  <dt class="course-part-label">
                    Interview process
                  </dt>
                  <dd class="course-part-value course-part-value--empty">
                    This field is empty
                  </dd>
                </div>
                <div>
                  <dt class="course-part-label">
                    Qualifications needed
                  </dt>
                  <dd class="course-part-value course-part-value--empty">
                    This field is empty
                  </dd>
                </div>
                <div>
                  <dt class="course-part-label">
                    Additional course requirements
                  </dt>
                  <dd class="course-part-value course-part-value--empty">
                    This field is empty
                  </dd>
                </div>
              </dl>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</main>

{% endblock %}
