{% extends "layout.html" %}
{% set title = 'Organisations' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs"></div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        {{ title }}
      </h1>

      <ul class="list">
        <li>
          <h2 class="heading-medium remove-top-margin remove-bottom-margin">
            <a href="https://publish-courses-bromley.herokuapp.com/organisation">Bromley Schools Collegiate</a>
          </h2>
          <p>12 courses</p>
        </li>
        <li>
          <h2 class="heading-medium remove-top-margin remove-bottom-margin">
            <a href="https://publish-courses-darrick.herokuapp.com/organisation">Darrick Wood School</a>
          </h2>
          <p>27 courses</p>
        </li>
        <li>
          <h2 class="heading-medium remove-top-margin remove-bottom-margin">
            <a href="https://publish-courses-lewisham.herokuapp.com/organisation">Education Teaching Alliance Lewisham</a>
          </h2>
          <p>2 courses</p>
        </li>
        <li>
          <h2 class="heading-medium remove-top-margin remove-bottom-margin">
            <a href="https://publish-courses-warren.herokuapp.com/organisation">Warren Road Primary</a>
          </h2>
          <p>3 courses</p>
        </li>
        <li>
          <h2 class="heading-medium remove-top-margin remove-bottom-margin">
            <a href="https://publish-courses-woolwich.herokuapp.com/organisation">Woolwich Poly</a>
          </h2>
          <p>19 courses</p>
        </li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
